.blog-detail-image {
  max-height: 400px;
  object-fit: cover;
}

.blog-body {
    color: #000;
  line-height: 1.7;
  font-size: 1.05rem;
}

.blog-body h1, .blog-body h2, .blog-body h3 {
  color: #ffd700;
  margin-top: 1.5rem;
}

.blog-body p {
  margin-bottom: 1rem;
  
}
a{
    color: #0057b8;
}

