.cardWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background: blue;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
}

.cardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.front {
  
  z-index: 2;
}

.back {
  
  z-index: 1;
}

.cardFace h1 {
  margin: 0;
  font-size: 1.8rem;

  text-align: center;
}

.cardFace.back h1 {

}
