
.team-page {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.team-card {
  text-align: center;
  /* border: 1px solid green; */
  aspect-ratio: 1/1;
   border: 5px solid; /* or any width you like */
  border-image: linear-gradient(to bottom, #FFD700 50%, #0057b8 50%) 1;
  border-radius: 12px; /* optional */
}

.team-photo {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.team-info {
  margin-top: 0.75rem;
}

.team-name {
  font-size: 1.25rem;
  margin: 0;
}

.team-role {
  font-size: 1rem;
  color: #555;
}

.team-title{
    font-size: 2rem;
    font-weight: 800;
}